{% extends "blog/base.html" %}
{% load static %}
{% load socialaccount %}
{% block content %}
<div class="sidebar-module">
    <div class="panel">
        <div class="panel-heading">
            {% block panel-heading %}{% endblock %}
        </div>
        <div class="panel-body">
        {% block panel-body %}{% endblock %}
        </div>
        <div class="panel-footer text-center" id="social-login" style="background-color:#fff">
            <div class="login-title">
                <span>快速登录</span>
            </div>
            <div class="login-link">
                <a href="{% provider_login_url 'weibo' process='login' %}">
                    <img src="{% static 'images/weibo.png'%}">
                </a>
                <a href="{% provider_login_url 'github' process='login' %}">
                    <img src="{% static 'images/github.png'%}">
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}