{% extends 'base.html' %}
{% load widget_tweaks %}
{% block posts%}
<h1>修改密码</h1>
<form class="form-horizontal col-sm-5" action="" method="POST">
  {% csrf_token %}
  {% for error in form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible form-group" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ error }}
    </div>
    {% endfor %}
  {% for field in form %}
  <div class="form-group">
    {% render_field field class="form-control" placeholder=field.label %}
    {{ field.errors }}
  </div>
  {% endfor %}

  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-lg">确认</button>
  </div>
</form>
{% endblock %}