a {
    color:#252525;
    text-decoration:none;
}
a:visited {
    text-decoration:none;
}
a:hover {
    color:#ba2636;
    text-decoration:none;
}
a:active {
    color:#ba2636;
}
body {
     padding-top: 70px;
     background-color: #eee;
}
#backtotop {
    position:fixed;
    display:none;
    bottom:70px;
    right:40px;
}
.navbar-default {
    background-color:#1d8659;
    border-color:#1d8659;
}
.navbar-default .navbar-brand {
    color:#fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #1d7164;
}
.panel {
    border:none;
}
.panel-heading {
    background-color: #1d8659;
    color: #fff;
}

.badge {
    background-color:#4795d6;
}
footer .navbar {
    margin-bottom:0px;
    color: #fff;
}
#id_parent {
    display:none;
}
#id_post {
    display:none;
}
#id_reply_to {
    display:none;
}

.comment-count {
    margin:70px 0px 20px;
}
.reply-list {
    margin-left:60px;
}
.root-comment {
    border-top:red solid 1px;
    padding:20px 0px 10px;
    margin:0px;
}
.child-comment {
    border-top:blue dashed 1px;
    padding:20px 0px 10px;
    margin:0px;
}
#cancel-reply {
    display:none;
}
.comment-header {
    padding: 10px 10px;
    border-top: solid 1px;
    border-left: solid 1px;
    border-right: solid 1px;
    border-color: silver;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color:#eee;
}
.comment-header span{
    font-size: 1.2em;
    margin-left: 5px;
}
.post-content {
    border-top:1px red solid;
    padding:15px 0px;
    margin-bottom:15px;
}