{% extends 'blog/base.html' %}
{% load highlight %}
{% load humanize %}

{% block content %}
{% if query %}
{% for result in page.object_list %}
<div class="well">
    <div class="post-list-header">
        <h3><a href="{{ result.object.get_absolute_url }}">{% highlight result.object.title with query %}</a></h3>
        {% for cate in result.object.category.all %}
        <a href="{{ cate.get_absolute_url }}" class="pull-right"><span class="label label-primary">{{cate.name}}</span></a>
        {% endfor %}
    </div>
    <div class="post-list-intro">
        <div class="post-list-cover">
            <a href="{{ result.object.get_absolute_url }}">
                <img src="{{ result.object.cover.url }}" alt="文章封面" class="img-rounded">
            </a>
        </div>
        <div>
            {% highlight result.object.intro with query  %}
        </div>
    </div>
    <div class="post-list-info">
        <span class="glyphicon glyphicon-user author-icon"></span><span>{{ result.object.author }}</span>
        <span class="glyphicon glyphicon-time created-icon"></span><span >{{ result.object.pub_time|naturaltime }}</span>
        <span class="pull-right"><a href="{{ result.object.get_absolute_url }}">阅读更多</a></span>
    </div>
</div>
{% empty %}
<div class="no-post"><h3>没有搜索到你想要的结果！</h3></div>
{% endfor %}
{% endif %}
{% endblock %}