a {
    color:#31a77c;
    text-decoration:none;
}
a:visited {
    text-decoration:none;
}
a:hover {
    color:#146346;
    text-decoration:none;
}
a:active {
    color:#146346;
    text-decoration:none;
}

html {
    height:100%;
}
body {
     display: flex;
     flex-direction: column;
     height: 100%;
     background:#eee;
}
/*正文*/
#main {
    flex: 1 0 auto;
}
/*页脚*/
footer {
  flex: 0 0 auto;
  background: #47504c;
  color: #fff;
}

#backtotop {
    position:fixed;
    display:none;
    bottom:70px;
    right:40px;
}
.navbar-default {
    background: #1aa287;
    border-color: #1aa287;
}
.navbar-default .navbar-brand {
    color:#fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
  background: transparent;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background: #11735f;
}
.panel {
    border:none;
}
.panel-heading {
    background: #1aa287;
    color: #fff;
}

.badge {
    background:#4795d6;
}
.comment-count {
    margin:70px 0px 20px;
}
.comment-h3 {
     display:inline;
}
.reply-list {
    margin-left:70px;
}
.root-comment {
    border-top:1px #ccc solid;
    padding:10px 0;
    overflow:hidden;
}
.child-comment {
    border-top:1px #ccc dashed;
    padding:10px 0;
    margin:10px 0;
    overflow:hidden;
}

.comment-form-title span{
    font-size: 1.2em;
    margin-left: 5px;
}
.post-content {
    border-top: 1px #ddd solid;
    border-bottom: 1px #ddd solid;
    padding: 10px 0;
    margin: 10px 0;
}
.comment-avatar {
    padding-left: 0px;
}
.comment-content {
    margin: 10px 0;
}

#div_id_parent {
    display:none;
}
#div_id_reply_to {
    display:none;
}
#div_id_post {
    display:none;
}
#button-id-cancel-reply {
    display:none;
    margin:0 5px 0;
}
.well {
     margin:20px 0;
}
.post-list-header > h3 {
    display:inline;
}
.post-list-header > a {
    margin-left:3px;
}
.post-list-intro {
    overflow:hidden;
    margin-top:20px;
}
.post-list-cover {
    float:left;
    margin:0 20px 20px 0;
}
.author-icon {
     margin-right:5px;
}
.created-icon {
    margin:0 5px;
}
.post-bottom {
    border-top:1px solid #ccc;
    margin-top:20px;
    padding-top:20px;
}
.post-intro {
    color:#666;
}
#more-comment {
    margin-right:10px;
    width:20%;
}
#go-to-comment {
    width:20%;
}
.post-cate {
     border:1px #357e90 dashed;
     overflow:hidden;
     padding: 10px 10px 3px;
     margin:30px 0;
}
.post-cate > .pull-right > a {
     margin-left:3px;
}
.notification > .panel > .panel-heading {
    background:#fff;
}
span.highlighted {
    color: red;
}


.nav-tabs li {
    width:50%;
    text-align:center;
}

.nav-tabs li a,
.nav-tabs li a:hover{
    color:#fff;
    background:#1aa287;

}

.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus
{
     color:#fff;
     background:#11735f;
}
.tab-content {
    padding:5px 0px;
    background:#fff;
}
.tab-content div ul {
    list-style-type:none;
    margin:0;
    padding:5px 5px;
}
.tab-content div ul li {
    margin:0;
    padding:10px 10px;
    border-bottom:1px solid #eee;
}

