a {
    color:#252525;
    text-decoration:none;
}
a:visited {
    text-decoration:none;
}
a:hover {
    color:#ba2636;
    text-decoration:none;
}
a:active {
    color:#ba2636;
}
body {
     padding-top: 70px;
}
#backtotop {
    position:fixed;
    display:none;
    bottom:50px;
    right:50px;
}