a {
    color:#252525;
    text-decoration:none;
}
a:visited {
    text-decoration:none;
}
a:hover {
    color:#ba2636;
    text-decoration:none;
}
a:active {
    color:#ba2636;
}
body {
     padding-top: 70px;
}
#backtotop {
    position:fixed;
    display:none;
    bottom:50px;
    right:50px;
}
.navbar-default {
    background-color:#1d8659;
    border-color:#1d8659;
}
.navbar-default .navbar-brand {
    color:#fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #1d7164;
}
.panel-success>.panel-heading {
    color: #fff;
    background-color: #1d8659;
}
.badge {
    background-color:#4795d6;
}