<nav>
    <ul class="pager">
        {% if comment_list.has_previous %}
        <li class="previous">

            {% if cate_name %}
            <a href="{% url 'category_page' cate_name posts.previous_page_number %}">
                {% else%}
                <a href="{% url 'comment_page' post.pk comment_list.previous_page_number %}">
                    {% endif %}

                    <span aria-hidden="true">&larr;</span> 上一页</a></li>
        {% else %}
        <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> 上一页</a></li>

        {% endif %}
        {% if comment_list.has_next %}
        <li class="next">

            {% if cate_name %}
            <a href="{% url 'category_page' cate_name posts.next_page_number %}">
                {% else %}
                <a href="{% url 'comment_page' post.pk comment_list.next_page_number %}">
                    {% endif %}

                    下一页 <span aria-hidden="true">&rarr;</span></a></li>
        {% else %}
        <li class="next disabled"><a href="#">下一页 <span aria-hidden="true">&rarr;</span></a></li>
        {% endif %}
    </ul>
</nav>