{% load blog_tags %}
{% for root_comment in comment_list %}
<div class="root-comment">
    <div class="col-sm-1 comment-avatar">
        {% get_show_avatar root_comment.author %}
    </div>
    <div class="col-sm-11">
        <span id="c{{ root_comment.pk }}">{{ root_comment.author.username }}</span>
        <span class="pull-right">{{ root_comment.created }}</span>
        <div class="comment-content">{{ root_comment.content|safe }}</div>
        <span><a href="javascript:void(0);" class="reply pull-right" id="{{ root_comment.pk }}">回复</a></span>
    </div>
</div>
<!--获取所有根评论下的回复-->
{% get_reply_of root_comment as reply_list %}
<!-- 第二次遍历当前跟评论下的所有回复 -->
<div class="reply-list">
    {% for comment in reply_list %}
    <div class="child-comment">
        <div class="col-sm-1 comment-avatar">
            {% get_show_avatar comment.author %}
        </div>
        <div class="col-sm-11">
            <span id="c{{ comment.pk }}">{{ comment.author.username }}</span>&nbsp;<span class="glyphicon glyphicon-share-alt"></span>&nbsp;<span>{{ comment.parent.author.username }}</span>
            <span class="pull-right">{{ comment.created }}</span>
            <div class="comment-content">{{ comment.content|safe }}</div>
            <span><a href="javascript:void(0);" class="pull-right reply" id="{{ comment.pk }}">回复</a></span>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}