{% extends 'base.html' %}
{% load humanize %}
{% block content %}
{% if cate_name %}
<div class="alert alert-info" role="alert">
    <strong>当前分类：{{ cate_name }}</strong>
</div>
{% endif %}
{% for post in posts %}
<div class="well">
    <div class="post-list-header">
        <h3><a href="{{ post.get_absolute_url }}">{{ post.title|title }}</a></h3>
        {% for cate in post.category.all %}
        <a href="{{ cate.get_absolute_url }}" class="pull-right"><span class="label label-primary">{{cate.name}}</span></a>
        {% endfor %}
    </div>
    <div class="post-list-intro">
        <div class="post-list-cover">
            <a href="{{ post.get_absolute_url }}">
                <img src="{{ post.cover.url }}" alt="文章封面" class="img-rounded">
            </a>
        </div>
        <div>
            {{ post.intro|truncatechars:100 }}
        </div>
    </div>
    <div class="post-list-info">
        <span class="glyphicon glyphicon-user author-icon"></span><span>{{ post.author }}</span>
        <span class="glyphicon glyphicon-time created-icon"></span><span >{{ post.pub_time|naturaltime }}</span>
        <span class="pull-right"><a href="{{ post.get_absolute_url }}">阅读更多</a></span>
    </div>
</div>
{% endfor %}
<hr>
{% include 'pagination.html'%}
{% endblock %}