{% extends 'base.html' %}
{% load widget_tweaks %}
{% block posts%}
<h1>注册</h1>
<form class="form-horizontal col-sm-5" action="" method="POST">
    {% csrf_token %}
    {% for error in user_form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible form-group" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ error }}
    </div>
    {% endfor %}
    {% for field in user_form %}
    <div class="form-group">
        {% render_field field class="form-control" placeholder=field.label %}
        {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    {% endfor %}

    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg">注册</button>
        <a href="{% url 'login' %}" class="pull-right">已有账号</a>
    </div>
</form>
{% endblock %}